
<div class="card">
	<div class="d-flex align-items-center justify-content-center card-header" style="background-color:#7fbde3; color: white;">
			<h4>PLAYER SEARCH</h4></br>
		</div></br>
	<div class = "card-body">
	<%= form_tag(students_path, method: "get") do  %>
		
			<div class="row justify-content-center">
	      <div class="col-md-6">
	        <%= label_tag 'school_name', 'School Name' %><br>
	        <%= select_tag :school_name, options_for_select(school_name), { include_blank: '----- Select School ------', class: 'form-control' , :required => true} %>
	      </div>
	      <div class="col-md-6">
	        <%= label_tag 'season_name', 'Season' %><br>
	        <%= select_tag :season_name, options_for_select([['Spring', 'spring'], ['Summer', 'summer'], ['Fall', 'fall']]), { include_blank: '----- Select Season ------', class: 'form-control' , :required => true} %>
	      </div>
	      <%= hidden_field_tag 'report_type',  '204'%>
	    </div>
	    <br><br><br>
	    
    	<div class="d-grid gap-2 col-6 mx-auto">
          <%= submit_tag "Submit", type: "submit",class:"btn", :style=>  'background-color: #7fbde3; color: white;' %>
      </div>

	<% end %>
</div>
</div>
 <br><br> <br><br>


	<% unless @stu_data.nil? || @stu_data.empty? %>
<div class="card">
	<br>
	<div class="d-flex align-items-center justify-content-center card-header" style="background-color:#7fbde3; color: white;">
			<h4>PLAYER SEARCH RESULT</h4></br>
		</div></br>
	<div class = "card-body">

			<table id="providerbillingReport" class="table">
				<thead>
					<tr>
						<th>School  Name</th>
						<th>Student Name</th>
						<th>Parent  Email</th>
						<th>Student Email</th>
						<th>Sport</th>
						<th>Team</th>
					</tr>
				</thead>
				<tbody>
					<% @stu_data.each do |stu| %>
						<tr>
							<td><%= scl_name(stu.school_name).html_safe  %></td>
							<td><%= stu.student_name %></td>
							<td><%= stu.parent_email %></td>
							<td><%= stu.student_email %></td>
							<td><%= sprt_name(stu.type_of_sport).html_safe  %></td>
							<td><%= tm_name(stu.team_type).html_safe  %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
	<% end %>

	</div>
</div>
<br><br><br>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"> </script> 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"> </script>
<script type="text/javascript" src="https://cdn.datatables.net/searchpanes/1.2.1/js/dataTables.searchPanes.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->

<script type="text/javascript">
$.extend($.fn.dataTable.defaults, {
  dom: 'Bfrtip'
});

  $("#providerbillingReport").DataTable({
    // searching: false,
  buttons: [
    {
    extend: 'csv',
    text: 'Export',
    title: 'Provider_billing_report',
  }
  ]
});
  $(document).ready(function(){
    setTimeout(function(){
    $('.flash-panel').fadeOut();
    }, 2000);
  })
</script>