
    <div class=" form-group form-inline">
        <%= label_tag  "first_name", "First Name:", class: "col-md-3" %>
        <%= text_field_tag :first_name, @student_check.first_name, size: "30", class: "form-control" %>
    </div>

    <div class=" form-group form-inline">
        <%= label_tag  "last_name", "Last Name:", class: "col-md-3" %>
        <%= text_field_tag :last_name, @student_check.last_name, size: "30", class: "form-control", :required => true %>
    </div>

    <div class=" form-group form-inline">
        <%= label_tag  "student_id", "Student ID:", class: "col-md-3" %>
        <%= text_field_tag :internal_student_id, @student_check.senior_student_id, size: "30", class: "form-control", :readonly => true%>
    </div>

    <div class="form-group form-inline">
        <%= label_tag  "email", "Email(s):", class: "col-md-3" %>
        <%= text_area_tag :email, @student_check.email, size: "30", class: "form-control" %>
    </div>

    <div class=" form-group form-inline">
        <%= label_tag  "student_online_id", "Online ID:", class: "col-md-3" %>
        <%= text_field_tag :student_online_id, @student_check.student_online_id, class: 'form-control', :readonly => true %>
    </div>

    <div class=" form-group form-inline">
          <%= label_tag  "session_type", "Session:", class: "col-md-3" %>
        <input type="checkbox" id="session_type_4" name="session_type" value=4><%= label_tag :session_type_4, 'UG', class: 'text-center' %>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" id="session_type_0" name="session_type" value=0 required="required"><%= label_tag :session_type_0, 'DX', class: 'text-center' %>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" id="session_type_1" name="session_type" value=1 ><%= label_tag :session_type_1, 'ST', class: 'text-center' %>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" id="session_type_2" name="session_type" value=2><%= label_tag :session_type_2, 'YB', class: 'text-center' %>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" id="session_type_3" name="session_type" value=3><%= label_tag :session_type_3, 'RT', class: 'text-center' %>&nbsp;&nbsp;&nbsp;
        <input type="checkbox" id="session_type_5" name="session_type" value=5><%= label_tag :session_type_3, 'NS', class: 'text-center' %>
          
    </div>
    <%= hidden_field_tag :check_id, @student_check.id %>
    <%= hidden_field_tag :school_id, @student_check.school_id %>


    <div class="row mt-xl">
        <div class="col-sm-6 mb-sm">
            <button type="button" data-dismiss="modal" class="btn btn-default btn-block"><i class="fa fa-times"></i> Close</button>
        </div>
        <div class="col-sm-6 mb-sm">
            <button type="submit" class="btn btn-info btn-block", id = "check_update">UPDATE</button>
        </div>
    </div>


<script type="text/javascript">

        <% unless @student_check.session_type.nil?%>
           var session_type_load = <%= @student_check.session_type %>;
            if(session_type_load.length > 0){
                $(session_type_load).each((index, element) =>{
                    $('input[name="session_type"][value= "' + element + '"]').prop('checked', true)
                    // $('input[name="session_type"]').prop('disabled', true);
                })   
            }
        <% end %>

        function check_length(){
             var array_push = [];
                $("input[type=checkbox]:checked").each(function() {
                    array_push.push(Number(this.value));
                });
                return array_push;
        }

        $('#check_update').click(function() { 

            var first_name              = $('#first_name').val();
            var last_name               = $('#last_name').val();
            var student_email           = $('#email').val();
            var student_id              = $("#senior_student_id").val();
            var student_online_code     = $('#student_online_id').val();
            var student_check_id = $('#check_id').val();
            var student_school_id = $('#school_id').val();
            var session_type_length = check_length()

             $.ajax({
                         url: '/senior_schools/' + student_school_id + '/senior_student_checks/update_student_check',
                         type: 'GET',
                         data: { first_name: first_name, last_name: last_name, email: student_email,  senior_student_id: student_id, student_online_id: student_online_code, id: student_check_id, id: student_check_id, school_id: student_school_id, session_type: session_type_length},
                         success: function(res) {
                            location.reload();
                         },
                         error: function(e) { console.log(e) }
                      });
        });



</script>