<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to 'BACK',senior_schools_path, class: 'btn btn-secondary'  %>
</div><br>
<div class="card">
  <div class="card-header header-style"><h3> <%= @senior_school_name.school_name %> Students Check In/Out </h3></div>
  <div class="card-body">
  	<label for="bar_code_scanned">Scanned Online Id:</label>
  	<input type="text" id="bar_code_scanned" name="bar_code_scanned" autofocus>
  </div>
</div>
<br><br>

<!-- 
<div class="row align-items-center" id='qrcode-modal-patient-profile-result'>
        <%#= render partial: 'senior_students/stdent_search', locals: {stu_result: nil} %>
 </div> -->
<!-- <div class="container"> -->
 <div class="row">
 	<div class="col-6" id='qrcode-modal-patient-profile-result'></div>
 	<div class="col-6" id="demo_modal">
 		<div class="card" style="max-height:445px;overflow:auto;">
 			<div class="card-body align-items-center" >
 				 	<br>
 				<div class="form-group form-inline">
                    <%= label_tag  "name", "Name:", class: "col-md-3" %>
                    <input name="name" type="text" value="First, Last Name" disabled>
                </div><br>
                <div class="form-group form-inline">
                    <%= label_tag  "student_id", "Student ID:", class: "col-md-3" %>
                    <input name="student_id" type="text" value="Student Id" disabled>
                </div><br>
                <div class="form-group form-inline">
                    <%= label_tag  "email", "Email(s):", class: "col-md-3" %>
                    <input name="email" type="text" value="Email Address" disabled>
                </div><br>
                <div class="form-group form-inline">
                    <%= label_tag  "online_id", "Online ID:", class: "col-md-3" %>
                    <input name="online_id" type="text" value="Online Id" disabled>
                </div><br>
                <div class="form-group form-inline">
                    <%= label_tag  "session", "Session:", class: "col-md-3" %>
                    <input type="checkbox" id="session_4" name="session" value="4" disabled><%= label_tag :session_4, 'UG', class: 'text-center' %>&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="session_0" name="session" value="0" disabled><%= label_tag :session_0, 'DX', class: 'text-center' %>&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="session_1" name="session" value="1" disabled><%= label_tag :session_1, 'ST', class: 'text-center' %>&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="session_2" name="session" value="2" disabled><%= label_tag :session_2, 'YB', class: 'text-center' %>&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="session_3" name="session" value="3" disabled><%= label_tag :session_3, 'RT', class: 'text-center' %>&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="session_5" name="session" value="5" disabled><%= label_tag :session_3, 'NS', class: 'text-center' %>&nbsp;&nbsp;&nbsp;
                </div>
                <br>
                	<button type="submit" class="btn btn-xs btn-success mr-5" disabled>Check In</button>
                    <button type="submit" class="btn btn-xs btn-warning mr-5" disabled>UPDATE</button>
                    <button type="submit" class="btn btn-xs btn-danger" disabled>Check Out</button>
 			</div>
 		</div>
 	</div>
 	<div class="col-6">
 		<div class="card" style="max-height:445px;overflow:auto;">
 			<!-- <div class="card-header"><h3>IN: <%#= @senior_check_in_count.count %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; OUT: <%#= @senior_check_out_count.count %></h3></div> -->

            <div class="card-header"><h3>IN: <%= @senior_check_in_count.count %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; OUT: <%= @senior_check_out_count.count %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'EXPAND', student_checks_expand_senior_school_senior_student_checks_path, class: 'btn btn-default'  %> </h3></div>
 			<div class="card-body">
                <div><p class="tool_bar text-muted"></p></div>
 				<table class="table table-bordered text-center"id = "student_table">
 					<thead>
 						<th>Time</th>
						<th>Name</th>
						<th>Session</th>
 					</thead>
 					<tbody>
 						<% @senior_check_results.each do |stu| %>
                            <% if stu.check_type == '1' %>
    	 						<tr style="background-color:#ABEBC6;">
    	 							<td><%= datetime_formatted(stu.created_at)%></td>
    	 							<td><%= stu_check_name(stu.full_name) %></td>
    								<td><%= session_type(stu.session_type) %></td>
    	 						</tr>
                            <% elsif stu.check_type == '2' %>
                                <tr style="background-color:#F5B7B1;">
                                    <td><%= datetime_formatted(stu.created_at)%></td>
                                    <td><%= stu_check_name(stu.full_name) %></td>
                                    <td><%= session_type(stu.session_type) %></td>
                                </tr>
                            <% end %>
	 					<% end %>
 					</tbody>
 				</table>
 			</div>
 		</div>
 	</div>
 </div>
<!-- </div> -->
<br></br>


<script type="text/javascript" src="https://s3.amazonaws.com/download.dymo.com/dymo/Software/JavaScript/dymo.connect.framework.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"> </script> 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"> </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"> </script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"> </script>
<script type="text/javascript" src="https://cdn.datatables.net/searchpanes/1.2.1/js/dataTables.searchPanes.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<script type="text/javascript">
   setTimeout(function(){
    	$('.flash-panel').fadeOut();
    }, 3000);

	 $(document).ready(function () {
        $("#student_table").DataTable({

                        scrollY: '445px',
                        scrollCollapse: true,
                        "paging": false,
                        "ordering": false,
                        "searching": false,
                        "info": false,
                      "initComplete": function () {
                                        var api = this.api();
                                        var dx_count = api.column(2).data().filter(function(value, index) { return value.includes('DX') ? true : false; }).length;
                                        var st_count = api.column(2).data().filter(function(value, index) { return value.includes('ST') ? true : false; }).length;
                                        var yb_count = api.column(2).data().filter(function(value, index) { return value.includes('YB') ? true : false; }).length;
                                        var rt_count = api.column(2).data().filter(function(value, index) { return value.includes('RT') ? true : false; }).length;
                                        var ug_count = api.column(2).data().filter(function(value, index) { return value.includes('UG') ? true : false; }).length;
                                         var ns_count = api.column(2).data().filter(function(value, index) { return value.includes('NS') ? true : false; }).length;
                                        var total_res = "Session Totals DX: " + dx_count + ", ST: " + st_count + ", YB: " + yb_count + ", RT: " + rt_count + ", UG: " + ug_count+ ", NS: " + ns_count;
                                            return $('.tool_bar').html( total_res);
                                    },

            });
	 	$("#qrcode-modal-patient-profile-result").hide();
	 	 $("#footer").removeClass("footer");	
	 	 
	 	 
			$("#bar_code_scanned").change(function(){
				 var bar_code_scanned_value = $('#bar_code_scanned').val();
			    $.ajax({
	                 url: 'senior_students/student_search',
	                 type: 'GET',
	                 data: {qr_scanned_val: bar_code_scanned_value},
	                 success: function(res) {
	                 },
	                 error: function(e) { console.log(e) }
	              });
	  	});


	});
</script>
