<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StudentRegistrationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="//code.jquery.com/jquery-1.12.0.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
     <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #B6D9DF;">
    <div class="container">
      <% if user_signed_in? %>
        <div class="navbar-brand">
          <%= link_to landing_path do %>
            <%= image_tag 'logo.png', class: "header-title-logo", alt: "VictorO'Neill Studios"%>
          <% end %>
        </div>
          <div id="navbarSupportedContent">
            <%unless ["new"].include?(params[:action])%>  
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" style="padding: 15px; font-weight: bold; font-size: 20px;">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link_to "SPORTS", reports_path,  class: "dropdown-item"  %>
                      <%= link_to "EVENTS", event_member_reports_path,  class: "dropdown-item"  %>
                      <%= link_to "SENIORS", senior_student_report_reports_path,  class: "dropdown-item"  %>
                    </div>
                  
                </li>
                <li></li>
                <li class="nav-item" style="padding: 15px; font-weight: bold; font-size: 20px">
                  <%= link_to "Log Out", destroy_user_session_path,  :method => :delete, class: "nav-link"  %>
                </li>
              </ul>

            <% end %>
          </div>
      <% else %>
        <div class="navbar-brand">
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', class: "header-title-logo", alt: "VictorO'Neill Studios"%>
          <% end %>
        </div>
      <% end %>
    </div>
  </nav>
  <br>


<% flash.each do |type, msg| %>
  <!-- <div class="alert alert-success text-center flash-panel" style="font-size: 30px;">
    <%#= msg %>
  </div>
  <br> -->
   <div class="alert alert-<%=type%> text-center flash-panel" style="font-size: 30px;">
    <%= msg %>
  </div>
  <br>
<% end %>


  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <div class="footer" id="footer">
      <!-- <p>All Rights Reserved </p> -->
    </div>
  </footer>

  <!-- <nav class="navbar fixed-bottom navbar-light bg-light navbar-expand-sm" style="background-color: #467AA7; opacity: 0.5;" >
  <a class="navbar-brand" href="#">All Rights Reserved</a>
</nav> -->
<!-- <br><br><br><br><br><br>
<nav id="cssnav" class="navbar navbar-light navbar-expand-sm fixed-bottom menu_main_nav_area" style="background-color: #e3f2fd; ">
  <p style="text-align: center";>All Rights Reserved</p>
</nav> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
